#sponsors_slideshow_list {
	background-image: none;
	background-color: white;
	margin: 5px 25%;
	position: relative;
	display: block;
	text-align: center;
}

#sponsors_slideshow_list a {
	display: block;
	margin: 8px 0;
	}
#sponsors_slideshow_list img {
	border: none;
	display: block;
}

	
div#sponsors_slideshow_control p { text-align: left; clear: both; }
div#sponsors_slideshow_control label {
	padding: 0.5em 0.5em;
	width: 6em;
	float: left;
}
div#sponsors_slideshow_control input.widefat { display: inline; clear: none; width: auto; }



/*--- JQuery Slideshow Styles ---*/
.slideshow, .slideshow-label, .slideshow-content, .slideshow-panel {
font:12px Verdana, Tahoma, sans-serif;
}

.slideshow {
padding:2px;
position:relative;
border:2px solid #eee;
background-color:#eee; 
display:none;           /* Set to "none" for not preview slideshow content */
}

.slideshow-label {    
background:url(images/info.png) 0 0 no-repeat;
height:26px;
line-height:26px;
padding-left: 26px;
border:1px solid #fff;
background-color:#f5f5f5;
}

.slideshow-frame {
position:absolute;
top:0px;
left:0px;
background:url(images/big-play.png) 50% 50% no-repeat;
z-index:201;
cursor:pointer;
width:100%;
height:100%;
}

.slideshow-shadow{
position:absolute;
top:0px;
left:0px;
background:#333;
z-index:200;
opacity:0.5;
width:100%;
height:100%;
}
.slideshow-panel-place {
position:absolute;
bottom:3px;
left:3px;    
z-index:100;
height:28px;   
}


.slideshow-panel {
z-index:101;    
background-color:#fff; 
width:100%;
height:100%;
}

.slideshow-panel a.button {
display: block;
width:26px;
height:26px;
float:left;
text-indent:-99999%;
overflow:hidden;
outline: 0; /* @ Firefox, prevent dotted border after click */ 

border:1px solid #fff;

background-repeat:no-repeat;

opacity: 0.7;
}

.slideshow-panel a.button:hover {
border:1px solid #ccc;
opacity: 1;
}


.slideshow-panel a.first {
background-image:url(images/first.png)
}

.slideshow-panel a.prev {
background-image:url(images/prev.png)
}

.slideshow-panel a.play {
background-image:url(images/play.png)
}

.slideshow-panel a.stop {
background-image:url(images/stop.png)
}

.slideshow-panel a.next {
background-image:url(images/next.png)
}

.slideshow-panel a.last {
background-image:url(images/last.png)
}

.slideshow-panel a.help {
position:relative;
background-image:url(images/help.png)
}

.slideshow-panel span.counter {
float:right;
display: block;
/*width:26px;*/
height:26px;
line-height:26px;
padding:0 4px;
}


.slideshow-help {
position:absolute;
bottom:28px;
left:0px;    
z-index:101;   
background-color:#ff9; 
display:none;
opacity: 0.9;
padding:2px;
}

.slideshow-content {

border:1px solid #ccc;
background-color:#fff;
color:#333;
overflow:hidden;
position:relative;
width:100%;
height:100%;
}

/* Some Content Changes */
.slideshow-content p {
padding:0px;
overflow:auto;
} 
