@import url('jquery_slideshow.css');

#sponsors_slideshow_list {
	background-image: none;
	background-color: white;
	margin: 5px 25%;
	position: relative;
	display: block;
	text-align: center;
}

#sponsors_slideshow_list a {
	display: block;
	margin: 8px 0;
	}
#sponsors_slideshow_list img {
	border: none;
	display: block;
}

	
div#sponsors_slideshow_control p { text-align: left; clear: both; }
div#sponsors_slideshow_control label {
	padding: 0.5em 0.5em;
	width: 6em;
	float: left;
}
div#sponsors_slideshow_control input.widefat { display: inline; clear: none; width: auto; }